<?php

define("DEV_MODE", (bool)"%DEV_MODE?0%");
define("CONF_GCLOUD_INDENTY_FILE", "%CONF_GCLOUD_INDENTY_FILE?/opt/leuffende-8350153ed12a.json%");
define("CONF_GCLOUD_BUCKET", "%CONF_GCLOUD_BUCKET?micx-mediastore%");



const CONF_API_MOUNT = "/v1/api";


